<h1>Welcome to Stock Watcher</h1>

<p>Stock Watcher lets you specify stocks on the NZX that you're interested in, and 
watches them for you. You can set a threshold (a percentage of movement from the previous 
day's close), and if this is exceeded Stock Watcher will send you an email notification.</p>

<p></p>